﻿.table thead tr th {
  border-bottom: 2px solid #ecf0f1;
}
.comment-edit {
  width: 80%;
}
@media (max-width: 767px) {
  .comment-edit {
    width: 100%;
  }
}
.comment-edit textarea {
  min-height: 100px;
}
.comment-edit .commands {
  margin-top: 20px;
}