﻿<h3>Comment</h3>

<div class="comment-list">
    <textarea [(ngModel)]="comment2.Description" placeholder="Wpisz odpowiednia tresc" class="form-control"></textarea>
    <button (click)="onCreate()" class="btn btn-sm btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        &nbsp; Add
    </button>
</div>
<br />  
<div *ngIf="comments.length > 0">
    <div class="table-responsive">
        <table class="table table-hover table-striped comment">
            <thead>
                <tr>
                    <th>Content</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comment of comments">
                    <td>
                        <textarea [(ngModel)]="comment.Description" placeholder="{{comment.Description}}" class="form-control"></textarea>
                    </td>
                    <td>
                        <button (click)="onEdit(comment)" class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-edit"></span>
                            &nbsp; Edit
                        </button>

                        <button (click)="onDelete(comment)" class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            &nbsp; Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="comments.length == 0" class="help-block">
    This post dont have any comments
</div>

