﻿.table {
    thead {
        tr {
            th {
                border-bottom: 2px solid #ecf0f1;
            }
        }
    }
}

.comment-edit {
    width: 80%;

    @media (max-width: 767px) {
        width: 100%;
    }

    textarea {
        min-height: 100px;
    }

    .commands {
        margin-top: 20px;
    }
}

