﻿<form class="navbar-form navbar-left {{class}}" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{placeholder}}" />
    </div>
    <button type="submit" class="btn btn-default">Send</button>
</form>