﻿.post {
  position: relative;
  padding: 0;
  text-align: center;
  width: 80%;
}
@media (max-width: 767px) {
  .post {
    width: 100%;
  }
}
.post .post-details .post-info-block {
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 80px;
  background: #f0f0f0;
  z-index: 0;
  padding: 60px 0 30px 0;
}
.post .post-details .post-info-block .post-heading {
  width: 100%;
  text-align: center;
  margin: 10px 0 0;
}
.post .post-details .post-info-block .navigation {
  margin: 20px 15px 0px 15px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #a3aab1;
}
.post .post-details .post-info-block .navigation li {
  display: inline-block;
  margin: 0 0 -6px 0;
  padding: 0;
}
.post .post-details .post-info-block .navigation li a {
  background: transparent;
  border-radius: 10px 10px 0 0;
  padding: 10px 30px;
  float: left;
}
.post .post-details .post-info-block .navigation li.active a {
  background: #4189C7;
  color: #fff;
}
.post .post-details .post-info-block .post-body {
  padding: 20px 20px 30px 20px;
}
.post .post-details .post-info-block .post-body .tab-content h4 {
  width: 100%;
  margin: 10px 0;
  color: #333;
}
.post .post-details .post-info-block .commands {
  border-top: 1px solid #dddddd;
  width: 80%;
  padding: 15px 0 0 0;
  margin: 15px auto 0 auto;
}
.post .post-details .post-info-block .commands .btn {
  min-width: 140px;
  margin: 0 10px;
}
.post .post-details .post-info-block .commands .edit {
  border-top: 1px solid #dddddd;
  width: 80%;
  padding: 15px 0 0 0;
  margin: 15px auto 0 auto;
}