﻿<div class="post-edit">
    <h2>{{title}}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Title') }">
            <label for="title">tytuł postu</label>
            <br />
            <input type="text" id="title" formControlName="Title" [(ngModel)]="post.Title" placeholder="New title" class="form-control" />
            <span *ngIf="hasError('Title')"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true"></span>
            <div *ngIf="hasError('Title')"
                 class="help-block">
                To pole jest wymagane — wpisz poprawny tytuł.
            </div>
        </div>
        <div class="form-group">
            <label for="description">opis postu</label>
            <br />
            <input type="text" id="description" formControlName="Description" [(ngModel)]="post.Description" placeholder="New Description" class="form-control" />
        </div>
        <div class="form-group commands">
            <button *ngIf="editMode" type="submit" [disabled]="form.invalid" class="btn btn-success">
                Save changes
            </button>
            <button *ngIf="!editMode" type="submit" [disabled]="form.invalid" class="btn btn-success">
                Add post
            </button>
            <button *ngIf="!editMode" type="submit" (click)="onBack()" class="btn btn-default">
                Cancel
            </button>
        </div>
        <!--{{form.value | json}}
        {{form.status | json}}-->
    </form>
</div>

<comment-list [post]="post"></comment-list>