﻿<div class="post">
    <div class="post-details">
        <div class="post-info-block">
            <div class="post-heading">
                <h2>{{post.Title}}</h2>
                <span class="help-block">{{post.CreatedDate}}</span>
            </div>

            <ul class="navigation">
                <li class="active">
                    <a data-toggle="tab" href="#description">
                        <span class="glyphicon glyphicon-user"></span>
                        &nbsp; Description
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#stats">
                        <span class="glyphicon glyphicon-stats"></span>
                        &nbsp; Stats
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#share">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        &nbsp; Share
                    </a>
                </li>
            </ul>
            <div class="post-body">
                <div class="tab-content">
                    <div id="description" class="tab-pane active">
                        {{post.Description}}
                    </div>
                    <div id="stats" class="tab-pane">
                        DO WYKONANIA
                    </div>
                    <div id="share" class="tab-pane">
                        DO WYKONANIA
                    </div>
                </div>
            </div>

            <div *ngIf="auth.isLoggedIn()" class="commands">
                <div class="edit">
                    <input type="button" value="Edytuj"
                           (click)="onEdit()"
                           class="btn btn-sm btn-warning" />
                    <input type="button" value="Usuń"
                           (click)="onDelete()"
                           class="btn btn-sm btn-danger" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--<comment-list [post]="post"></comment-list>-->






