﻿<div class="panel panel-primary {{class}}">
    <div class="panel-heading">
        <span class="glyphicon"></span>
        <h4>{{title}}</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let post of posts" [class.selected]="post === selectedPost" (click)="onSelect(post)">
                <img src="https://lorempixel.com/50/50/?random={{post.Id}}"
                     alt="{{post.Title}}" class="img-circle" />
                <span>{{post.Title}}</span>
            </li>
        </ul>
    </div>
</div>


