<div class='container-fluid'>
    <div class='row'>
        <nav class="navbar header-content">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a [routerLink]="['/home']">
                        <img src="/dist/res/img/logo.svg" alt="Logo" />
                    </a>
                </div>
                <post-search class="search-header" placeholder="search post"></post-search>
            </div>
        </nav>
    </div>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
