<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
               <span class='sr-only'>Przełącz nawigację</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <post-search class="search-navmenu" placeholder="Search"></post-search>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Strona główna
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/about']">
                        <span class='glyphicon glyphicon-home'></span> About project
                    </a>
                </li>
                <li *ngIf="!this.auth.isLoggedIn()" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-home'></span> Login
                    </a>
                </li>
                <li *ngIf="this.auth.isLoggedIn()">
                    <a (click)="logout()">
                        <span class='glyphicon glyphicon-log-out'></span> Wylogowanie
                    </a>
                </li>
                <li *ngIf="this.auth.isLoggedIn()" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/post/create']">
                        <span class='glyphicon glyphicon-home'></span> post create
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
