﻿<div class="login-container">
    <img id="login-img" class="login-img"
         src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <h2 class="login-title">{{title}}</h2>
    <form [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="login-form">
        <div *ngIf="form.errors?.auth"
             class="error-panel help-block">
            {{form.errors.auth}}
        </div>
        <div class="form-group"
             [ngClass]="{ 'has-error has-feedback' : hasError('Username') }">
            <input type="text" required
                   formControlName="Username"
                   class="form-control"
                   placeholder="Nazwa użytkownika lub adres e-mail" />
            <span *ngIf="hasError('Username')"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true"></span>
            <div *ngIf="hasError('Username')"
                 class="help-block">
                Wpisz poprawną nazwę użytkownika lub adress e-mail.
            </div>
        </div>
        <div class="form-group"
             [ngClass]="{ 'has-error has-feedback' : hasError('Password') }">
            <input type="password" required
                   formControlName="Password"
                   class="form-control"
                   placeholder="Hasło" />
            <span *ngIf="hasError('Password')"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true"></span>
            <div *ngIf="hasError('Password')"
                 class="help-block">
                Wpisz hasło.
            </div>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remember" value="remember" />Zapamiętaj mnie</label>
        </div>
        <button type="submit"
                [disabled]="form.invalid"
                class="btn btn-md btn-success btn-block btn-signin">
            Zaloguj się
        </button>
    </form>
    <div class="login-link">
        <a href="#">
            Zapomniałeś hasła?
        </a>
    </div>
</div>