<div>
    <div class="row">
        <div class="col-lg-4">
            <post-list class="latest"></post-list>
        </div>
        <div class="col-lg-4">
            <post-list class="byTitle"></post-list>
        </div>
        <div class="col-lg-4">
            <post-list class="random"></post-list>
        </div>
    </div>
</div>


