﻿/*post-list {
    width: 400px;
    display: block;
    padding: 2px 20px;
    margin: 0 5px;
    float: left;
}
.latest {
    background-color: #f0f0f0;
}

.byTitle {
    background-color: #e0e0e0;
}

.random {
    background-color: #d0d0d0;
}*/